.FilterContainer{
    height: 100vh;
    width: auto;
    background-color: white;
    align-items:initial;
    align-self: start;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}
.heading{
    display: flex;
   justify-content: center;
    font-size: 1.5rem;
    align-items: baseline;
    gap: 5px;
    margin: 3rem 0;
}

.sorting-options{
    margin-top: 0.2rem;
    margin-left: 0.8rem;
}

.salary-cutoff{
    margin-top: 0.7rem;
}
.salary-threshold{
    color: green;
}
.Mui-checked{
    color: rgb(136, 136, 136) !important;
}
button{
    align-self: center;
}

.MuiSlider-root{
    color:  #020102 !important;
}

