.detail-box {
    height: fit-content;
}

.details-p {
    font-size: 1rem;

}

.details-actions {
    position: absolute;
    right: .5rem;
    top: .4rem;
}

.detail-medium {
    width: 100%;
    flex-wrap: wrap;
}

.detail-medium p {
    font-size: .85rem;
}

.detail-identifier {
    display: flex;
    align-items: center;
}

.details-actions svg {
    color: black;
}

.stat-title {
    font-family: "Inter-sb";
    font-size: .813rem;
}

.stat-body {
    margin-left: 12px;
}

.stat-body.company-tags {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 5px;
}

.company-tags-child {
    font-family: Inter-regular !important;
    border-radius: 3px !important;
    background-color: white !important;
}

.details-body {
    width: 100%;
}

.details-body div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media only screen and (max-width: 1500px) {
    .stat-body.company-tags {
        grid-template-columns: repeat(3, auto);
    }
}

@media only screen and (max-width: 1200px) {
    .stat-body.company-tags {
        grid-template-columns: repeat(2, auto);
    }
}

@media only screen and (max-width: 900px) {
    .stat-body.company-tags {
        grid-template-columns: repeat(1, auto);
    }
}