.chip-with-icon{
    background-color: transparent !important;
    font-size: 15px !important;
    font-family: inherit !important;
    color: #7B7777 !important;
}
.job-card-info-div-parameter{
    color: #7B7777;
}
.job-card-info-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.job-card-info-div p{
    font-size: 15px;
    width: 50%;
}
.job-card-div2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}
.application-review-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.application-review-buttons button{
    align-self: start;
}

.job-card-div1 {
    width: 80%;
}
.job-card{
    flex-direction: row-reverse;
}
.job-card-img-container{
    align-self: center;
    height: 6.2rem;
    width: 6.2rem;
    border-radius: 50%;
    background-color: #D9D9D9;
}