.StatsAIContainer {
    height: 100vh;
    width: 25%;
    background-color: white;
    position: absolute;
    right: 0;
    padding: 20px;
    overflow: hidden;
}
.prompt-text{
    margin-top: 3%;
    margin-left: 20%;
}

.jobs-listing{
    overflow-y: hidden;
}