.job-search{
    position: absolute;
    top: 0;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.job-search-top-bar{
    width: inherit;
    align-items: center;
    justify-content: center;
}
.job-filter{
    width: 25%;
    align-self: start;
}
.back-icon{
    position: absolute;
    left: -3rem;
}


