.job-desc-container {
    width: 100%;
    /* height: fit-content; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: white;
    border-radius: 11px 11px 0px 0px;
    padding: 0 1rem 8rem 0;
}

.job-desc-header {
    width: 98%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 25px 0px 0px 0px;
}

.separator {
    color: black;
    width: 100%;
}

.job-desc-h1 {
    font-size: 1.6rem;
    margin: .1rem;
}

.job-desc-company-name-p {
    font-size: .938rem;
    color: #7B7777;
}
.job-desc-company-name-p:hover{
        color: #646cff
}

.job-desc-salary {
    font-size: 1rem;
    color: #2BA84A;
    font-family: Inter-md;
    margin-top: .5rem;
}

.job-time-p {
    font-size: .8rem;
    color: #7B7777;
    margin-top: .5rem;
}

.job-desc-tags {
    margin: 5px 0 10px 0;
}

.job-desc-tags-child {
    font-family: Inter-regular !important;
    border-radius: 3px !important;

}

.job-desc-skill-tags-child {
    font-family: Inter-regular !important;
    border-radius: 3px !important;
    font-size: 0.8125rem;
    background-color: #00000014;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
}

.job-desc-div2 {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.job-desc-div1 {
    height: 100%;
    width: 90%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.job-desc-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 91%;
    padding-right: 2rem;
}

.job-desc-body h6 {
    font-family: "Inter-b";
    font-size: .85rem;
}

.job-details {

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.job-desc-body p {

    font-size: 0.85rem;
    font-family: "Inter-regular";
}

.job-desc-body .desc {
    padding-left: 50px;
    margin-top: 1rem;
}

.justified-pre {
    text-align: justify !important;
    white-space: pre-wrap !important; /* Allows wrapping of the text */
    word-wrap: break-word !important; /* Breaks words to fit the container */
  }

.job-details span {
    font-family: "Inter-b";
}

.skill-counter {
    font-family: "Inter-md";
    color: #ad8302;
    font-size: 0.7rem;
    padding: .2rem .4rem;
    background-color: #fff2b2b6;
    border-radius: 15px;
}

.skill-status {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.skill-status.red {
    background-color: #F60404;
}

.skill-status.green {
    background-color: #07F407;
}

.job-approval-status-label {
    padding: 0.1rem 0.5rem;
    text-align: center;
    border-radius: 7px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #8c8b8b;
    font-family: Inter-b;
    font-size: 1.3rem;
}
.job-status-text {
    font-family: Inter-sb;
    text-transform: capitalize;
}

.job-status-text.color-black {
    color: rgb(68, 68, 68);
}

.job-status-text.color-green {
    color: green;
}

.job-status-text.color-red {
    color: red;
}

.cancel-application-button{
    margin-top: 1rem;
}

.apply-button {
    margin-top: 10%;
}
.disable-apply-btn{
    background-color:#D9D9D9 !important ;
}

.invite-accepted-btn{
    background-color: #2BA84A !important;
}

.invite-rejected-btn{
    background-color: #f30707 !important;
}

.invite-buttons-container{
    display: flex;
    width:20rem;
    flex-direction: row;
    justify-content: space-around;

}

.invite-buttons-container button{
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 0.4rem 1.5rem;
}

.invite-banner{
    background-color: rgb(222, 218, 210);
    border-radius: 0.4rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    font-family: "Inter-sb";
    color: gray;
}

.invite-accept-btn{
    --primary-color: #23c483 !important;   
}
.invite-reject-btn{
    --primary-color: #e01414 !important;
}

.processing-animation{
    margin-top: 10%;
    width:5rem;
    height: 5rem;
}
