
.search {
    width: inherit;
    height: 50px;
    margin-top: 15px !important;
    position: absolute !important;
    display: flex;
    justify-content: center;
    top: 0px;
    border-radius: 30px;
}
