.left-bar{
    width: 100%;
    height: 100%;
    position: relative;
    align-self: start;
    display: flex;
    flex-direction: column;
    background-color: white;
    
}

.left-bar button{
    font-family: Inter-regular !important;
}
.openings-search-tile{
    background-color: white;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; 
}
.back-icon-opening{
    background-color: #E7E4E4;
    border-radius: 50%;
}


.openings-search-tile .create-vacancy-button p{
    font-size: 11px;
}

.search-bar{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}
.create-vacancy-button{
    align-self: flex-start;
    margin-left: 1rem;
}
.create-vacancy-mui-btn:hover{
background-color: #eae9e9 !important;
}

.opening-search{
    height: fit-content;
    width: 70%;
}
.openings-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: white;
}

.empty-container-message{
    position: absolute;
    top: 50%;
    text-align: center;
    color: gray;
    filter: grayscale(100%);
    
}

.card-holder{
    width: 95%;
}


@media only screen and (max-width: 800px) {
    .create-vacancy-button p{
      display: none;
    }
  }