.confirm-box{
    /*background-color: #99FF99;*/
    font-family: Inter-sb;
    border-radius: 7px;
    width: 32rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirm-box >p{
    font-size: 1rem;
}
.success-ani{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}
.success-ani svg{
    height: 60% !important;
    width: auto;
}

@media only screen and (max-width: 800px) {
    .confirm-box{
        width: 100%;
        padding: 0px 20px;
        height: 7vh;
    }

    .confirm-box >p{
        font-size: 0.7rem;
    }
  }