.login_container {
    width: 25rem;
    height: 50rem;
    align-self: flex-start;
    margin: 0 50px;
    padding: 20px 0;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: Inter-regular;
    background: white;
}
.login-header {
    font-size: 30px;
    font-family: Inter-black;
}

.form_container {
    box-shadow: 2px;
}


.lk {
    margin: 20px 0;
    font-size: 14px;
    font-family: Inter-regular;
    color: #0D63B2;
    text-decoration: underline;
}

.lg {
    font-size: 12px;
    font-family: Inter-b;
}

.sigup-redirect {
    position: absolute;
    bottom: 100px;
    font-family: Inter-b;
    color: #2299F8;
    font-size:14px;
    text-decoration: underline;
}