.login_container{
    position: absolute;
    top: 40px;
    left: 100px;
    width: 350px;
    height: 630px;
    padding: 20px 50px;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter-regular;
    background: white;
}

.login-header{
    font-size: 25px;
    font-family: Inter-b;    
}
.form_container{
    box-shadow: 2px;    
}


.lk{
    font-size: 12px;
    font-family: Inter-regular;
}
.lg{
    font-size: 12px;
    font-family: Inter-b;
}

.foot{
    position: relative;
    top: 230px;
}
