.opening-card {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 10px 0;
    width: 100%;
    height: fit-content;
    background-color: #D9D9D9;
    border-radius: 11px;
    padding: 7px 17px;
    cursor: pointer;
    transition-duration: 300ms;
}

.opening-card:hover {
    /*box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.6);*/
    border: 0.1px solid rgb(164, 162, 162);
}

.opening-card.highlighted {
    background-color: #b9b9b9;
    border: 0.2px solid rgb(164, 162, 162);
}

.opening-card-h1 {
    font-size: 20px;
}

.opening-card-company-name-p {
    font-size: 13px;
    color: #7B7777;
}

.opening-card-img-container {
    margin-top: 2px;
    margin-right: 4px !important;
    width: 5.8rem;
    height: 5.7rem;
    border-radius: 50%;
    background-color: white;
}

.opening-card-salary {
    font-size: 0.9rem;
    color: #2BA84A;
    font-family: Inter-md;
}

.opening-card-time-p {
    font-size: .8rem;
    color: #7B7777;
    position: absolute;
    bottom: 10px;
}

.opening-card-tags {
    margin: 5px 0 10px 0;
}

.opening-card-tags-child {
    font-family: Inter-regular !important;
    border-radius: 3px !important;
}

.opening-card-div2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.opening-card-div2 .feature-side,
.opening-card-div2.review .feature-side {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.application-indicator {
    align-self: end;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #1565c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.application-indicator p {
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
}

.opening-card-div2.review {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening-card-div1 {
    width: 80%;
}

.opening-vacancy-buttons {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.opening-vacancy-buttons p {
    font-size: 11px;
    margin-right: -5px;

}

@media only screen and (max-width: 960px) {
    .opening-vacancy-buttons {
        flex-flow: column;

    }

    .opening-vacancy-buttons button,
    a {
        align-self: flex-start;
    }

    .opening-card-img-container {
        width: 3rem;
        height: 3rem;
    }

}