.job-invite-details-card {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 10px 0;
    width: 100%;
    height: fit-content;
    background-color: #D9D9D9;
    border-radius: 11px;
    padding: 15px 17px;
    
    transition-duration: 300ms;
}


.job-invite-details-card.highlighted {
    background-color: #b9b9b9;
    border: 0.2px solid rgb(164, 162, 162);
}

.job-invite-details-card-h1 {
    font-size: 20px;
}

.job-invite-details-card-company-name-p {
    font-size: 13px;
    color: #7B7777;
}

.job-invite-details-card-img-container {
    margin-top: 2px;
    margin-right: 4px !important;
    width: 5.8rem;
    height: 5.7rem;
    border-radius: 50%;
    background-color: white;
}

.job-invite-details-card-salary {
    font-size: 0.9rem;
    color: #2BA84A;
    font-family: Inter-md;
    
}

.job-invite-details-card-time-p {
    font-size: .8rem;
    color: #7B7777;
    position: absolute;
    bottom: 10px;
}

.job-invite-details-card-tags {
    margin: 5px 0 10px 0;
}

.job-invite-details-card-tags-child {
    font-family: Inter-regular !important;
    border-radius: 3px !important;
}

.job-invite-details-card-div2 {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

}








.job-invite-details-card-div1 {
    width: 80%;
}





@media only screen and (max-width: 960px) {
    

    .job-invite-details-card-img-container {
        width: 3rem;
        height: 3rem;
    }

}
.job-invite-details-card-div2{
    width: 40%;
}

.job-invite-details-card-div2 .details-side span{
    font-size: 0.7rem;
    font-family: Inter-sb;
}
.job-invite-details-card-div2 .details-side p{
    font-size: 0.7rem;
    font-family: Inter-regular;
}