.delete-container{
    position: relative;
    width: 30rem;
    height: 30rem;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}
.delete-container p{
    margin-bottom: 2rem;
}
.delete-textbox:hover{
border-color: black;
}
.forget-btn{
    width: 90%;
    bottom: 1.5rem;
    position: absolute !important;
}
.forget-btn,.forget-btn:hover{
    background-color: blue !important;
}
.confirm-delete-message{
    position: absolute;
    top: 5rem;
}