.contact-medium {
    display: flex;
    align-items: center;
}

.contact-medium p {
    font-size: 1rem;
    width: 70%;
    /* overflow: hidden; */
    overflow-x: auto;
    white-space: nowrap;
}
.contact-medium p:hover {
    font-size: 1rem;
    color:#646cff
}

.contact-medium svg {
    color: black;
}

.contact-card-textfield input {
   padding: .5rem; 
}